.menu {
    display: flex;
    margin-top: -8%;
    justify-content: space-between;
    align-items: center;
    background: url(./images/welcome_to_our-transformed.png) no-repeat center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgb(0, 110, 255);
    width: 100%;
    height: 13%;
    position: fixed;
    text-transform: uppercase;
}

.logo {
    background: rgba(40, 14, 88, 0);
    height: 90px;
    width: 90px;
    margin-left: 2%;
    border-radius: 50% 50% 50% 50% / 96% 96% 4% 4% ;
}

.logo:hover {
    height: 7em;
    width: 7em;
    box-shadow: 0px 0px 50px rgb(38, 0, 255);
}


.navbar {
    display: flex;
    list-style-type: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li > a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    font-weight:lighter;
}
li > a:hover {
    background: rgba(74, 33, 151, 0.856);
    transform: rotateZ(5deg)    
}

.account {
 color: white;
 font-style: italic;
 font-weight: lighter;
 margin-right: 3%;
}

.account:hover {
    cursor: pointer;
}