nav {
    background: url(../images/Banner.png) no-repeat center ;
    background-size: cover;
    opacity: 100px;
    box-shadow: 0px 0px 20px rgb(0, 110, 255);
    width: 100%;
    height: 15%;
    position: fixed;
}

.logotype {
    display: grid;
    height: 100px;
    width: 100px;
    background: url(../images/Logo.png) no-repeat center ;
    background-size: cover;
    border-radius: 50% 50% 50% 50% / 96% 96% 4% 4%;
    user-select: none;
    position: static;
    margin-left: 10px;
    margin-top: 10px;
    
}

.logotype:hover {
    box-shadow: 0px 0px 20px 0px rgb(96, 46, 214);
    margin-left: 15px;
}


nav .menu{
    float: right;
    color: white;
    font-style: italic;
    font-size: larger;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    bottom: 40px;
}

.menu li {
    display: inline-flex;
    margin: 0px 15px;
    margin-top: 0px;
}

#navbar_item {
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    color: white;
    transition: all 0.3s ease-out;

}


#navbar_item:hover {
    background: rgba(74, 33, 151, 0.856);
    transform: rotateZ(5deg)
}

.account {
    cursor: pointer;
}

#drop {
    text-decoration: none;
    color: rgb(0, 0, 0);
    list-style-type: none;
}



.checked {
    position: relative;
    float: right;
    width: 60px;
    height: 60px;
    margin-top: 54px;
    margin-right: 5px;
    position: static;
    display: none;
    user-select: none;
    cursor: pointer;
}

.log_out {
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 20vh;
    padding: 2.5px 100px
}

.log_out {
    box-shadow: 0px 15px 0px 0px #5353d3;
    background-color: #4ea0d6;
    transition: all ease 0.1s;
}

#check {
    display: none;
}

.test {
    display: none;
    position: static;
    flex-wrap: wrap;
    height: 120%;
    width: 100%;
    background-color: rgba(253, 253, 253, 0.63);
    max-width: 250px;
    text-align: center;
    border-radius: 2%;
    left: 150px;
    top: 75px;
    backdrop-filter: blur(15px);
    transition: all 1s;
    overflow: hidden ;
    user-select: none;
}

.test.open {
    height: 0px;
}

@media (max-width: 952px) {
    .logotype {
        font-size: 30px;
        padding-left: 70px;
    }
    #navbar_item {
        font-size: 16px;
    }
}
@media (max-width: 858px) {
    .checked{
        display: block;
    }
    #navbar_item, .account {
        display: none;
    }
    .test {
        display: block;
        float: right;        
        margin: 50px 0px;
        line-height: 30px;
        font-size: 20px;
        list-style-type: none;
        cursor: pointer;
        color: rgb(29, 29, 31);
        left: 1em;
        top: 0em;
        max-width: none;
        border-radius: 2em;
    }
    #drop:hover,#drop:active{
        background: transparent;
    }
    .log_out:hover, .log_out:active {
        transform: rotateY(6px);
        box-shadow: 0px 0px 0px 0px #5353d3;
    }
}
